{% extends "home-base.html"%}
{% block title %}Home Page{% endblock %}

{% block head%}
  {{ super() }}
{% endblock%}

{% block page_content%}
  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-reddit-alien" aria-hidden="true"></i> About Us</h1>
    <p>This project is developed by <a id="developer" href="https://github.com/yinkexin" data-toggle="tooltip" data-placement="top" title="Someday, this guy will be an excellent developer :)">Genius</a>.</p>
  </div>
{% endblock%}

{% block scripts%}
  {{super()}}
  <script>
  $(document).ready(function () {
    $('#developer').tooltip()
  });
  </script>
{% endblock%}
